
.bg {
  background-image: url("https://live.staticflickr.com/65535/49236052157_0955cd6a19_k.jpg");
  height: 900px;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

/* .button-container {
  width: 100%;
  height: 15%;
} */

button {
  background-color: #CB201A;
  color: white;
  font-size: xx-large;
  width: 100%;
  display: block;
  font-family: 'Mountains of Christmas', cursive, sans-serif;
  position: fixed;
  margin: 0 auto;
  top: 80%;
  -webkit-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
}
