<body>
  <div class="bg">
    <div class="container">
      <nav class="navbar navbar-expand-lg navbar-dark bg-primary red-overwrite">
        <a class="navbar-brand" href="#">Santa's Helpers</a>
        <button 
        class="navbar-toggler" 
        type="button" (click)="toggleNavbar()">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div
          class="collapse navbar-collapse"
          id="navbarColor01"
          [ngClass]="{ show: navbarOpen }"
        >
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#"
                >Home<span class="sr-only">(current)</span></a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/contact">Contact</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/about">About</a>
            </li>
          </ul>
        </div>
      </nav>

      <div class="jumbotron">
        <h1>Welcome!</h1>
        <h2>
          Find charities near you
        </h2>
        <blockquote class="blockquote text-center">
          <span class="mb-0 quote">
            <!-- "We make a living by what we get, but we make a life by what we
            give." -->
            {{ randomQuote }}
          </span>
          <!-- <footer class="blockquote-footer">Winston Churchill</footer> -->
        </blockquote>
      </div>

      <div class="panel panel-primary">

        <div class="panel-heading">
        </div>
        <div class="panel-body">
          <div class="card border-primary mb-3" style="max-width: 30rem;">
            <div class="card-body">
              <h2 class="card-title">Find a Charity</h2>
              <p class="card-text"></p>
              <div class="form-group">
                <!-- on submit call the searchCharities() and pass in the ref to the form -->
                <form #form="ngForm" (ngSubmit)="searchCharities(form)">
                  <!-- <label>Select a Charity Category</label>
                  <select class="custom-select" name="search" ngModel>
                    <option value="Food">Food</option>
                    <option value="Toys">Toys</option>
                    <option value="Clothes">Clothes</option>
                    <option value="Health">Health</option>
                    <option value="Elder">Elders / Seniors</option>
                    <option value="Childcare">Childcare</option>
                  </select> -->

                  <label for="search"> Search a Category
                      <br>
                      <input
                        class="input"
                        type="text"
                        name="search"
                        id="Category"
                        placeholder="Category"
                        ngModel
                      />
                    </label>

                  <br><br>
                  <label>Select which US State you want to search</label>
                  <br>
                  <select class="custom-select" name="state" ngModel>
                    <option value="{{ state }}" *ngFor="let state of states">{{
                      state
                    }}</option>
                  </select>
                  <br><br>
                  <label for="city"> Select a City
                    <br>
                    <input
                      class="input"
                      type="text"
                      name="city"
                      id="city"
                      placeholder="City"
                      ngModel
                    />
                  </label>
                  <button class="btn btn-primary btn-lg btn-block">
                    Submit
                  </button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
