@import url("https://fonts.googleapis.com/css?family=Mountains+of+Christmas&display=swap");

body,
html {
  height: 100%;
}

.bg {
  /* The image used */
  background-image: url("https://live.staticflickr.com/65535/49161397362_a3742adb94_k.jpg");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

h1,
h2,
p,
footer.blockquote-footer {
  font-family: "Mountains of Christmas", cursive;
}

h1 {
  font-size: 80px;
}

div.jumbotron {
  background-color: rgba(255, 255, 255, 0.5);
  padding-bottom: 5px;
}

div.card.border-primary.mb-3 {
  margin: 0 auto;
}

h1,
h2 {
  text-align: center;
}

.red-overwrite,
button.btn-primary.btn-lg.btn-block {
  background: #cb201a !important;
}

.input,
select {
  border: 2px solid #ffd704;
  border-radius: 3px;
}

select,
.input,
label {
  width: 100%;
}

button.btn-primary.btn-lg.btn-block,
a.navbar-brand {
  color: #ffde01;
}

footer.blockquote-footer {
  color: black;
}

.quote {
  font-family: sans-serif;
  font-size: 0.8em;
  color: rgb(155, 155, 155);
  font-style: italic;
  line-height: 1em;
  text-align: center;
}
