body,
html {
  height: 100%;
}

/* .bg {
  /* The image used */
/* background-image: url(“https://live.staticflickr.com/65535/49161397362_a3742adb94_k.jpg(326 kB) https: //live.staticflickr.com/65535/49161397362_a3742adb94_k.jpg
    ”); */
/* Full height */
/* height: 100%; */
/* Center and scale the image nicely */
/* background-position: center;
  background-repeat: no-repeat;
  background-size: cover; */
/* } */

h1,
h2,
p,
footer.blockquote-footer {
  font-family: ‘Mountains of Christmas’, cursive;
}

h1 {
  font-size: 80px;
}

div.jumbotron {
  background-color: rgba(255, 255, 255, 0.5);
}

div.card.border-primary.mb-3 {
  margin: 0 auto;
}

h1,
h2 {
  text-align: center;
}

.red-overwrite,
button.btn-primary.btn-lg.btn-block {
  background: #CB201A !important;
}

button.btn-primary.btn-lg.btn-block,
a.navbar-brand {
  color: #FFDE01;
}

footer.blockquote-footer {
  color: black;
}

/* for cards */
.charity-results-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.loading {
  display: block;
  margin: 0 auto;
  width: 50%;

}
