/* @import url('https://fonts.googleapis.com/css?family=Mountains+of+Christmas&display=swap'); */

body,
html {
  height: 100%;
}

.bg {

  background-image: url("https://live.staticflickr.com/65535/49231193492_e07a72bda3_k.jpg");

  height: 100%;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

h1,
h2,
p,
footer.blockquote-footer,
a.navbar-brand,
button.btn-primary.btn-lg.btn-block {
  font-family: "Mountains of Christmas", cursive;
}

h1 {
  font-size: 80px;
}

div.jumbotron {
  background-color: rgba(255, 255, 255, 0.5);
}

div.card.border-primary.mb-3 {
  margin: 0 auto;
}

h1,
h2 {
  text-align: center;
}

.red-overwrite,
button.btn-primary.btn-lg.btn-block {
  background: #CB201A !important;
}

button.btn-primary.btn-lg.btn-block,
a.navbar-brand {
  color: #FFDE01;
}

footer.blockquote-footer {
  color: black;
}

/* for cards */
.charity-results-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.loading {
  display: block;
  margin: 0 auto;
  width: 50%;
  margin-bottom: 200px;
}

i.fa.fa-snowflake-o.fa-lg.text-primary.mr-2::before {
  color: white;
}
